Repository Mamun-Al-Babu-Shikder/spring-tx-board, pull requests merged in 2025-09, with the labels that each got.

#86 feature/STB-30: integrate Spring TX Board with Spring Boot Actuator
  README.md
  pom.xml
  src/main/java/com/sdlc/pro/txboard/actuator/TxBoardActuatorEndpoint.java
  src/main/java/com/sdlc/pro/txboard/actuator/TxBoardMicrometerMetrics.java
  src/main/java/com/sdlc/pro/txboard/autoconfigure/SpringTxBoardAutoConfiguration.java
  src/main/java/com/sdlc/pro/txboard/config/SpringTxBoardActuatorConfiguration.java
  src/main/java/com/sdlc/pro/txboard/config/SpringTxBoardMicrometerConfiguration.java
  src/main/java/com/sdlc/pro/txboard/config/TxBoardProperties.java
  src/main/resources/META-INF/spring-configuration-metadata.json
Labels: enhancement

#96 add unit test for ConnectionProxy class
  src/main/java/com/sdlc/pro/txboard/delegator/AbstractConnectionDelegator.java
  src/test/java/com/sdlc/pro/txboard/proxy/ConnectionProxyTest.java
Labels: test

#99 Unit Tests for AbstractStatementDelegator
  src/test/java/com/sdlc/pro/txboard/delegator/AbstractStatementDelegatorTest.java
Labels: test

#101 feat : add AbstractDataSourceDelegator unit tests
  src/test/java/com/sdlc/pro/txboard/delegator/AbstractDataSourceDelegatorTest.java
Labels: test

#122 fix incorrect transaction state tracking in PlatformTransactionManage…
  src/main/java/com/sdlc/pro/txboard/proxy/PlatformTransactionManagerProxy.java
Labels: bug

#123 Dev
  src/main/java/com/sdlc/pro/txboard/proxy/PlatformTransactionManagerProxy.java
Labels: bug

#126 add unit tests for PlatformTransactionManagerProxy
  src/test/java/com/sdlc/pro/txboard/proxy/PlatformTransactionManagerProxyTest.java
Labels: test

#130 Integration Test to Track Transaction Logs with @Transactional
  pom.xml
  src/test/java/com/sdlc/pro/txboard/util/Utils.java
  src/test/java/integration/TransactionalAnnotatedIntegrationTest.java
  src/test/java/integration/config/TestTxBoardConfig.java
  src/test/java/integration/entity/Order.java
  src/test/java/integration/entity/OutboxMessage.java
  src/test/java/integration/entity/Product.java
  src/test/java/integration/entity/User.java
  src/test/java/integration/listener/TestTransactionLogListener.java
  src/test/java/integration/model/OrderStatusPayload.java
  src/test/java/integration/model/UserRegisterPayload.java
  src/test/java/integration/repository/OrderRepository.java
  src/test/java/integration/repository/OutboxMessageRepository.java
  src/test/java/integration/repository/ProductRepository.java
  src/test/java/integration/repository/UserRepository.java
  src/test/java/integration/service/OrderService.java
  src/test/java/integration/service/OutboxMessageService.java
  src/test/java/integration/service/ProductService.java
  src/test/java/integration/service/TestService.java
  src/test/java/integration/service/UserService.java
  src/test/java/integration/util/Utils.java
Labels: test

#131 Integration Test to Track Transaction Logs with @Transactional
  pom.xml
  src/test/java/com/sdlc/pro/txboard/util/Utils.java
  src/test/java/integration/TransactionalAnnotatedIntegrationTest.java
  src/test/java/integration/config/TestTxBoardConfig.java
  src/test/java/integration/entity/Order.java
  src/test/java/integration/entity/OutboxMessage.java
  src/test/java/integration/entity/Product.java
  src/test/java/integration/entity/User.java
  src/test/java/integration/listener/TestTransactionLogListener.java
  src/test/java/integration/model/OrderStatusPayload.java
  src/test/java/integration/model/UserRegisterPayload.java
  src/test/java/integration/repository/OrderRepository.java
  src/test/java/integration/repository/OutboxMessageRepository.java
  src/test/java/integration/repository/ProductRepository.java
  src/test/java/integration/repository/UserRepository.java
  src/test/java/integration/service/OrderService.java
  src/test/java/integration/service/OutboxMessageService.java
  src/test/java/integration/service/ProductService.java
  src/test/java/integration/service/TestService.java
  src/test/java/integration/service/UserService.java
  src/test/java/integration/util/Utils.java
Labels: test

#141 Add Tests for Conditional Bean Creation Based on Enable Property
  src/test/java/com/sdlc/pro/txboard/autoconfigure/SpringTxBoardAutoConfigurationTest.java
Labels: test

#115 feature/pr-template
  .github/pull_request_template.md
Labels: documentation
